.table-container {
    width: 80%;
    margin: auto;
    border: 2px solid #000;
    padding: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    text-overflow:auto;
}
table {
    width: 75%;
    border-collapse: collapse;
}
caption
{
    caption-side: top;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

th, td {
    border: 1px solid #0e0e0e;
    padding: 8px;
    text-align: center;
}
tfoot th {
    background-color: #f2f2f2;
    font-weight: bold;
}
/* Responsive adjustment*/
@media (max-width: 600px) {
    .table-container {
        width: 100%;
        padding: 5px;
    }
    th, td {
        padding: 6px;
        font-size: 0.9em;
    }
}