/* Basic Reset */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* Main Area */
.main-content {
    grid-area: main;
    background: white;     
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

/* Heading */
.main-content h2 {
    color: #3f8d57;
    margin-bottom: 0.5rem;
    }

/* Body text spacing */
.main-content p {
    line-height: 1.5;
    margin-bottom: 1rem;
}

/* Blockquote box */
.info-box {
    background: #e5e6e8;                 
    padding: 1rem;
    border-left: 4px solid #05a73e;        
    margin-top: 1rem;
    border-radius: 6px;
}

/* Grid Container */
.grid-container {
    display: grid;
    min-height: 100vh;
    padding: 1rem;
    gap: 1rem;

    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
}

/* Grid Area */
.grid-item.header {
    grid-area: header;
    background: #20a308;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    font-family: cursive;
}

.grid-item.sidebar {
    grid-area: sidebar;
    background: #eeeeee;
    padding: 1rem;
    border-radius: 3px
}

.grid-item.main-content {
    grid-area: main;
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
}

.grid-item.footer {
    grid-area: footer;
    background: #06ca3a;
    color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
}

/* Sidebar list */
.sidebar ul {
    font-style: oblique;
    list-style: none;
    padding-left: 0;
}
.sidebar li {
    padding: 0.5rem;
    border-bottom: 1px solid gray;
}

/* Flexbox header */
.navigation ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
    font-family:cursive;
}
.navigation a {
    color: rgb(7, 39, 247);
    text-decoration: none;
    font-weight: bold;
}
.navigation a:hover {
    text-decoration: underline;
       
}

/* Product Cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: .7rem;
}

.card {
    flex: 1 1 250px;
    background: white;
    padding: 1rem;
    border: 2px solid rgb(22, 156, 4);
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgb(119, 118, 118);
}

.card h3 {
    margin-bottom: 0.5rem;
    color: #265804;
    font-family:inherit;
    font-style: italic;
}

.card-button {
    padding: 0.5rem 1rem;
    font-weight: bold;
    background: #07a121;
    color: white;
    border: black 1px solid;
    cursor: pointer;
    border-radius: 6px;
}

.card-button:hover {
    opacity: 0.8;
    color:#1c3d5a;
}



/* RESPONSIVE GRID FOR MOBILE */
@media (max-width: 700px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "sidebar"
            "footer";
    }
    .navigation ul {
        flex-direction: column;
        align-items: center;
    }
}
