/* Tables*/
table { width: 100%;
        border-collapse: collapse}

/*Caption */
caption {font-size: 1.5rem;
         margin: 1.5rem 0;
         font-weight: bold;
         text-align: center;}

/* Border padding */
th, td {border: 2px solid #000;
        padding: 0.5rem;}

/* Text alignment */
th {text-align: left;}
tbody td {text-align: right;}
tbody tr{transition: background-color .5s ease-in-out;}
tbody tr:hover {background-color: #0df055;}

/* Zebra striping  */
tbody tr:nth-child(even) {background-color: #f2f2f2;}

/* header + footer */
thead,tfoot {background-color: #087df2;
             font-weight: bold;}

/* Nav Style */
nav ul {display: flex;
        list-style: none; 
        padding: 1rem;
        background-color: #0b74de;}

nav li {padding: 1rem;
        background-color: rgb(139, 185, 226);
        margin-right: 1rem; 
        border-radius: 6px;}


/* Hover and focus */
.main-navigation a:hover,
{background-color: green;
 text-decoration: none;}


