.table-container {
    width: 80%;
    margin: auto;
    border: 2px solid #000;
    padding: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    text-overflow:auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {border: 1px solid #0e0e0e;
        padding: 0.75px;
        text-align: center;}
th{ text-align: left;}
tbody td {text-align: right;}
tbody tr:nth-child(even) {background-color: #f9f9f9;}
thead, tfoot {background-color: #e0e0e0;
              font-weight: bold;}
<ul class="main-navigation">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>
</ul>

/*Navigation*/
.main-navigation {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: #235ea8;
    padding: .75rem 
    margin: 0;}
.main-navigation li {margin: 0 1 rem;}
.main-navigation a {
    display:inline-block;
    padding: 0.5rem 1rem;
    background color: #ffffff;
    border-radius: 5 px
    color: #0b74de;
    text-decoration: none;}

/*Transition effect*/
.main-navigation a:hover {
    background-color: #0b74de;
    main-navigation align-self: focus;
    background-color: #003f92;
    color: #ffffff;}

/* Responsive adjustment*/
@media (max-width: 600px) {
    .table-container {
        width: 100%;
        padding: 5px;
    }
    th, td {
        padding: 6px;
        font-size: 0.9em;
    }
}