/*Default Light Mode Theme*/
:root {
    --background-color: #ffffff;
    --text-color: #222220;
    --primary-color: #ba0c2f;
    --secondary-color: rgb(0, 32, 91)
    --border-color: #333333;
    --highlight-color: hsl(60, 100%, 90%)
    --blockquote-background: rgba(0, 0, 255, 0.05); }

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 2em;}

h1 {
    color: var(--background-color);
    font-family:  Arial, Helvetica, sans-serif;
    font-size: clamp(2rem, 5vw, 3.5rem);
    text-align: center;
    background-color: var(--secondary-color);
    padding: 0.5em;
    border-radius: 12px;}

h2 {
    border-bottom: 2px solid var(--border-color);
    color: var(--text-color);
    margin-top: 1.5em;}


blockquote {
    background-color: var(--blockquote-background);
    color: var(--primary-color);
    padding: 1em;
    border-left: 5px solid var(--secondary-color);
    font-style: italic;
    margin: 1.5em 0;}


ul,ol {
    line-height: 1.6;}


.tips{
    background-color: var(--highlight-color)
    color: var(--primary-color)
    margin: 1em 0;
    padding: 0.8em;
    border-radius: 5px;}

    a:hover {
    text-decoration: underline; }

    /*Dark Mode Theme*/
    @media (prefers-color-scheme: dark)
     {:root {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --primary-color: #ff5c5c;
    --secondary-color: #6fa8dc;
    --border-color: #bbbbbb;
    --highlight-color: hsl(210, 30%, 20%);
    --blockquote-background: rgba(255,255,255,0.1); }
