/*Reset*/
body {margin: 0; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

.dashboard {display:flex; flex-direction: column; min-height: 100v;}

/*Header*/
{display: flex; justify-content: space-between; align-items: center; padding: 1rem; background-color: #333; color: white;}

/*Header ul*/
{display: flex; list style: none; gap: 1rem; margin: 0; padding: 0;}

/*.Content-Wrapper*/
{display: flex; flex:1;}

/*Sidebar*/
{width: 200 px; background: #f4f4f4; padding: 1rem;}

/*Main Content*/
{flex: 1; padding: 1rem;}

/*.Card-Container*/
{display: flex; flex-wrap: wrap; gap: 1rem;}

/*Card*/
{background: white; border: 1px solid #ddd; padding: 1rem; flex: 1 1 300px; transition: transform 0.3s ease, box-shadow 0.3s ease;} 

/*Card Hover Effect*/
{transform: scale(1.05); translateY(-5px); box-shadow: 0 8 px 15px rgba(0,0,0,0,0.2);}

/*Special Card*/
{align-self: flex-end;}