/*Base */
:: ::before, ::after {
    box-sizing: border-box;
}

/*Color*/
:root {
    --primary-color: #061fc1;
    --secondary-color: #07b61e;
    --background-color: #F5F7FA;
    --text-color: #333333;
    --font:var(--font) segoe ui, tahoma, sans-serif; 
}
/*Dark Mode*/
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1E1E1E;
        --text-color: #F5F5F5;
    }
}
/*styles*/
body {
    font-family: var(--font);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    Text-align: center;
}
/*Header*/
header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 0;
    text-align: center;
}
header-content img {
    width: 100px;
    border-radius: 50%;
}
/*images*/
img {
  width: 200px;        
  height: 200px;
  border-radius: 50%;  
  object-fit: cover;   
  border: 4px solid; color :#333333
}

/*Navigation*/
nav {
    background-color: var(--secondary-color);
    display: flex;
    padding: 0.5rem 0;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}
nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.5rem;
}
/*Layout*/
main {
    max-width: 900 px
    margin: 2rem auto;
    padding: 1rem;
    text-align; center;
}

section {
    margin-bottom: 2rem;
}

/*portfolio items*/
article {
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 1.0rem;
    padding-bottom: 1.0rem;
    text-align: center;
}

/*contact form*/
.contact-form {
    display: flex;
    flex-direction: column;
}
/* Buttons */
button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.75rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    text-align: center;
}
button:hover {
    opacity: 0.9;
}
/*Footer*/
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 600px) {
    .header-content img {
        width: 80px;
        height: 80px;
    }
    main () {
        padding: 0.5rem;
    }
}